Repository koosty/open-edu: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, core

codecov.yml:

# Codecov configuration for Open-EDU
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%  # Aim for 80% overall coverage
        threshold: 5% # Allow 5% drop
        if_ci_failed: error # Fail if CI fails
    patch:
      default:
        target: 70%  # New code should have 70% coverage
        threshold: 10% # Allow larger threshold for patches

comment:
  layout: "reach, diff, flags, tree"
  behavior: default
  require_changes: false
  require_base: false # Don't require base commit for first uploads

# Ignore files that shouldn't affect coverage
ignore:
  - "src/**/*.spec.ts"
  - "src/**/*.svelte.spec.ts"
  - "src/**/*.test.ts"
  - "src/**/*.svelte.test.ts" 
  - "scripts/"
  - "sample-templates/"
  - "static/"
  - "vite.config.ts"
  - "svelte.config.js"
  - "roadmap/"
  - "coverage/"
  - "node_modules/"
  - ".env.*"
  - "build/"
  - "dist/"

# Define flags for different areas of the codebase
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name: default
        type: project
        target: 80%
        threshold: 5%

flags:
  # Frontend code coverage
  frontend:
    paths:
      - src/routes/
      - src/lib/components/
    carryforward: true
    
  # Backend/Service code coverage  
  backend:
    paths:
      - src/lib/services/
      - src/lib/firebase/
      - src/lib/utils/
    carryforward: true
    
  # Core business logic
  core:
    paths:
      - src/lib/services/
      - src/lib/firebase/
      - src/lib/validation/
    carryforward: true

fix: dashboard navigation (TECH-002)
  src/routes/dashboard/+page.svelte
Due: frontend

fix: courses list page navigation (TECH-002)
  src/routes/courses/+page.svelte
Due: frontend

fix: course detail page navigation (TECH-002)
  src/routes/courses/[courseId]/+page.svelte
Due: frontend

fix: admin lesson page navigation (TECH-002)
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
Due: frontend

fix: admin analytics navigation (TECH-002)
  src/routes/admin/analytics/+page.svelte
Due: frontend

fix: course analytics navigation (TECH-002)
  src/routes/admin/courses/[id]/analytics/+page.svelte
Due: frontend

fix: new course page navigation (TECH-002)
  src/routes/admin/courses/new/+page.svelte
Due: frontend

fix: new quiz page navigation (TECH-002)
  src/routes/admin/courses/[id]/quizzes/new/+page.svelte
Due: frontend

fix: auth & quiz preview navigation (TECH-002)
  src/routes/admin/courses/[id]/quizzes/[quizId]/preview/+page.svelte
  src/routes/auth/login/+page.svelte
  src/routes/auth/profile/+page.svelte
Due: frontend

fix: remove unused imports in service files (TECH-003)
  src/lib/services/analytics.ts
  src/lib/services/courses.ts
  src/lib/services/enrollment.ts
Due: backend, core

fix: clean up component props (TECH-003)
  src/lib/components/BottomSheet.svelte
  src/lib/components/CompletionCelebration.svelte
Due: frontend

fix: improve type safety in service files (TECH-004)
  src/lib/services/analytics.ts
  src/lib/services/courses.ts
  src/lib/services/enrollment.ts
  src/lib/services/progress.ts
  src/lib/utils/errors.ts
Due: backend, core

fix: remove duplicate code in progress.ts
  src/lib/services/progress.ts
Due: backend, core

fix: improve error handling in auth pages (TECH-004)
  src/routes/auth/login/+page.svelte
  src/routes/auth/profile/+page.svelte
Due: frontend

fix: disable false-positive navigation rule (TECH-005)
  eslint.config.js
Due: none

fix: remove unused variables and imports (TECH-006)
  src/routes/admin/+page.svelte
  src/routes/admin/analytics/+page.svelte
  src/routes/admin/courses/[id]/+page.svelte
  src/routes/admin/courses/[id]/analytics/+page.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/admin/courses/[id]/quizzes/[quizId]/edit/+page.svelte
  src/routes/admin/courses/[id]/quizzes/[quizId]/preview/+page.svelte
  src/routes/courses/[courseId]/+page.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
  src/routes/dashboard/+page.svelte
Due: frontend

fix: improve type safety in dashboard and quiz management pages
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/dashboard/+page.svelte
Due: frontend

fix: update Firestore rules and improve type checks in validated-firestore.ts
  .gitignore
  firestore.production.rules
  firestore.rules
  package.json
  src/lib/firebase/validated-firestore.ts
Due: backend, core

fix: upgrade CI/CD workflows to Node.js 22 for navigator API support
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix: resolve double base path issue in course filters and search
  src/routes/courses/+page.svelte
Due: frontend
