Repository koosty/open-edu: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, core

chore: bump version to v1.2.1 and update README
  README.md
  package.json
Due: none

chore: bump version to v1.3.0 - Interactive Features & Assessments
  package.json
Due: none

feat: add quiz system foundation with types, schemas, service layer, and security rules
  firestore.rules
  src/lib/firebase/collections.ts
  src/lib/firebase/schemas.ts
  src/lib/services/quiz.spec.ts
  src/lib/services/quiz.ts
  src/lib/types/quiz.ts
Due: backend, core

feat: enhance quiz functionality with support for boolean answers and improved quiz results display
  firestore.indexes.json
  firestore.rules
  src/lib/components/CodeBlock.svelte
  src/lib/components/QuizResults.svelte
  src/lib/components/QuizViewer.svelte
  src/lib/firebase/schemas.ts
  src/lib/services/quiz.ts
  src/lib/types/quiz.ts
  src/routes/admin/courses/[id]/+page.svelte
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

feat: implement visual quiz builder with comprehensive question editing
  src/lib/components/QuizBuilder.svelte
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/admin/courses/[id]/quizzes/new/+page.svelte
Due: frontend

fix: resolve quiz creation issues and add lesson selection page
  src/lib/components/QuizBuilder.svelte
  src/routes/admin/courses/[id]/lessons/+page.svelte
  src/routes/admin/courses/[id]/quizzes/new/+page.svelte
Due: frontend

refactor: implement Option E quiz-lesson architecture
  src/lib/services/quiz.ts
  src/routes/admin/courses/[id]/lessons/+page.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/admin/courses/[id]/quizzes/new/+page.svelte
Due: frontend, backend, core

feat: complete v1.3.0 quiz system with bug fixes and polish
  README.md
  firestore.indexes.json
  package-lock.json
  package.json
  src/lib/components/LessonNavigation.svelte
  src/lib/services/quiz.ts
  src/lib/validation/course.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

feat: implement quiz timer warnings and attempt history (UX-001, UX-002)
  src/lib/components/QuizAttemptHistory.svelte
  src/lib/components/QuizViewer.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat: optimize quiz viewer for mobile devices (UX-004)
  src/lib/components/QuizAttemptHistory.svelte
  src/lib/components/QuizViewer.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat: implement skeleton loading screens (UX-008)
  README.md
  src/lib/components/LessonSkeleton.svelte
  src/lib/components/QuizSkeleton.svelte
  src/lib/components/ui/Skeleton.svelte
  src/lib/components/ui/index.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat(ux): implement better error messages with ErrorAlert component (UX-012)
  src/lib/components/ErrorAlert.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat(ux): add auto-save indicator with visual feedback (UX-007)
  src/lib/components/AutoSaveIndicator.svelte
  src/lib/components/index.ts
  src/lib/services/readingPosition.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

feat(ux): add lesson completion celebration animation (UX-005)
  src/lib/components/CompletionCelebration.svelte
  src/lib/components/index.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat(ux): enhance course navigation sidebar with search and keyboard shortcuts (UX-006)
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat(admin): add bulk quiz operations
  src/routes/admin/courses/[id]/quizzes/+page.svelte
Due: frontend

feat(quiz): enhance quiz management with optional fields and improved permissions
  docs/admin-guide/platform-setup.md
  docs/instructor-guide/01-course-creation.md
  docs/instructor-guide/02-quiz-creation.md
  docs/instructor-guide/03-student-management.md
  docs/instructor-guide/04-analytics-reporting.md
  docs/student-guide/01-getting-started.md
  docs/student-guide/02-taking-courses.md
  docs/student-guide/03-taking-quizzes.md
  docs/student-guide/troubleshooting.md
  firestore.production.rules
  firestore.rules
  scripts/automated-seed.mjs
  src/lib/components/QuizBuilder.svelte
  src/lib/components/QuizResults.svelte
  src/lib/components/QuizViewer.svelte
  src/lib/firebase/validated-firestore.spec.ts
  src/lib/services/analytics.spec.ts
  src/lib/services/touchGestures.spec.ts
  src/lib/test-utils/firebase-mocks.ts
  src/lib/types.ts
  src/lib/types/lesson.ts
  src/lib/types/quiz.ts
  src/lib/utils/certificate.spec.ts
  src/lib/utils/certificate.ts
  src/lib/validation/course.ts
  src/routes/admin/courses/[id]/+page.svelte
  src/routes/admin/courses/[id]/analytics/+page.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/admin/courses/[id]/quizzes/[quizId]/edit/+page.svelte
  src/routes/admin/courses/[id]/quizzes/[quizId]/preview/+page.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

feat(quiz): enhance test coverage for quiz CRUD operations
  package.json
  src/lib/services/quiz.spec.ts
Due: none

feat(navigation): implement utility functions for path resolution and navigation
  eslint.config.js
  package-lock.json
  package.json
  scripts/automated-seed.mjs
  scripts/validate-firebase-config.mjs
  src/lib/auth.svelte.ts
  src/lib/components/AuthGuard.svelte
  src/lib/components/BookmarkButton.svelte
  src/lib/components/BottomSheet.svelte
  src/lib/components/CodeBlock.svelte
  src/lib/components/ErrorAlert.svelte
  src/lib/components/MarkdownRenderer.svelte
  src/lib/components/NoteWidget.svelte
  src/lib/components/NotesPanel.svelte
  src/lib/components/QuizAttemptHistory.svelte
  src/lib/components/QuizBuilder.svelte
  src/lib/components/QuizResults.svelte
  src/lib/components/QuizSkeleton.svelte
  src/lib/components/QuizViewer.svelte
  src/lib/components/ReadingModeToggle.svelte
  src/lib/components/ui/Breadcrumb.svelte
  src/lib/firebase/validated-firestore.ts
  src/lib/services/quiz.spec.ts
  src/lib/utils/navigation.ts
Due: frontend, backend, core

fix: replace Set with SvelteSet for proper reactivity (TECH-001)
  src/lib/components/NotesPanel.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
Due: frontend

fix: remove unnecessary escape characters in regex patterns (TECH-006)
  src/lib/services/markdown.ts
Due: backend, core

fix: add missing keys to {#each} blocks for proper reconciliation (TECH-005)
  src/routes/admin/courses/[id]/analytics/+page.svelte
  src/routes/courses/+page.svelte
  src/routes/dashboard/+page.svelte
Due: frontend

fix: migrate layout navigation to getPath() helper (TECH-002)
  src/routes/+layout.svelte
Due: frontend

fix: migrate admin dashboard navigation to navigate() helper (TECH-002)
  src/routes/admin/+page.svelte
Due: frontend

fix: learn lesson page navigation (TECH-002)
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

fix: admin course page navigation (TECH-002)
  src/routes/admin/courses/[id]/+page.svelte
Due: frontend

fix: admin quizzes page navigation (TECH-002)
  src/routes/admin/courses/[id]/quizzes/+page.svelte
Due: frontend

fix: quiz edit page navigation (TECH-002)
  src/routes/admin/courses/[id]/quizzes/[quizId]/edit/+page.svelte
Due: frontend

fix: dashboard navigation (TECH-002)
  src/routes/dashboard/+page.svelte
Due: frontend

Path conditions:
  frontend: any of: src/routes/, src/lib/components/, but not: src/**/*.spec.ts, src/**/*.svelte.spec.ts, src/**/*.test.ts, src/**/*.svelte.test.ts, scripts/, sample-templates/, static/, vite.config.ts, svelte.config.js, roadmap/, coverage/, node_modules/, .env.*, build/, dist/
  backend: any of: src/lib/services/, src/lib/firebase/, src/lib/utils/, but not: src/**/*.spec.ts, src/**/*.svelte.spec.ts, src/**/*.test.ts, src/**/*.svelte.test.ts, scripts/, sample-templates/, static/, vite.config.ts, svelte.config.js, roadmap/, coverage/, node_modules/, .env.*, build/, dist/
  core: any of: src/lib/services/, src/lib/firebase/, src/lib/validation/, but not: src/**/*.spec.ts, src/**/*.svelte.spec.ts, src/**/*.test.ts, src/**/*.svelte.test.ts, scripts/, sample-templates/, static/, vite.config.ts, svelte.config.js, roadmap/, coverage/, node_modules/, .env.*, build/, dist/
