Repository koosty/open-edu: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, core

feat: comprehensive service layer testing with Firebase mocks
  src/lib/services/courses.spec.ts
  src/lib/services/enrollment.spec.ts
  src/lib/services/progress.spec.ts
  src/lib/test-utils/firebase-mocks.ts
Due: none

fix: resolve test hanging issue and add fast test option
  courses-test-results.json
  package.json
  vite.config.ts
Due: none

fix: resolve authentication timing and dashboard enrollment issues
  src/lib/services/progress.ts
  src/routes/+layout.svelte
  src/routes/admin/courses/new/+page.svelte
  src/routes/dashboard/+page.svelte
  vitest.coverage.config.ts
Due: frontend, backend, core

feat: update CI configuration for faster testing and enhance Firestore indexes
  .github/workflows/ci.yml
  firestore.indexes.json
  firestore.rules
  package.json
  vite.config.ts
Due: none

feat: add conditional admin navigation for instructors and admins
  src/routes/+layout.svelte
Due: frontend

fix: add Firestore index for admin dashboard course queries
  firestore.indexes.json
Due: none

fix: resolve admin page authentication race condition on refresh
  src/routes/admin/+page.svelte
Due: frontend

fix: resolve Svelte 5 state_unsafe_mutation error in course pages
  src/routes/courses/[courseId]/+page.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

fix: add Firestore index for advanced course filtering
  firestore.indexes.json
Due: none

feat: implement URL query parameters for course catalog filters
  src/routes/courses/+page.svelte
Due: frontend

fix: complete URL query parameters implementation
  firestore.indexes.json
  src/routes/courses/+page.svelte
Due: frontend

feat: complete v1.1.0 - Core Course Features with enhanced filtering
  courses-test-results.json
  firestore.indexes.json
  package.json
  src/app.d.ts
  src/demo.spec.ts
  src/lib/auth.spec.ts
  src/lib/auth.svelte.ts
  src/lib/components/index.ts
  src/lib/components/ui/Button.svelte.spec.ts
  src/lib/components/ui/index.ts
  src/lib/firebase.ts
  src/lib/firebase/collections.ts
  src/lib/firebase/index.ts
  src/lib/firebase/schemas.ts
  src/lib/firebase/validated-firestore.ts
  src/lib/services/courses.spec.ts
  src/lib/services/courses.ts
  src/lib/services/enrollment.spec.ts
  src/lib/services/enrollment.ts
  src/lib/services/progress.spec.ts
  src/lib/services/progress.ts
  src/lib/test-utils/firebase-mocks.ts
  src/lib/types.ts
  src/lib/types/lesson.ts
  src/lib/types/progress.ts
  src/lib/utils.spec.ts
  src/lib/utils.ts
  src/lib/utils/admin.ts
  src/lib/validation/course.ts
  src/routes/courses/+page.svelte
  src/routes/page.svelte.spec.ts
Due: frontend, backend, core

fix: resolve lesson persistence bugs in CMS
  src/lib/services/courses.ts
  src/lib/validation/course.ts
  src/routes/admin/courses/[id]/+page.svelte
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
Due: frontend, backend, core

fix: enable TOC navigation and remove sidebar footer
  src/lib/services/markdown.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

feat: add note widget with position-aware note-taking (NOTES-003)
  src/lib/components/NoteWidget.svelte
  src/lib/components/index.ts
  src/lib/services/notes.ts
  src/lib/types/notes.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

fix: prevent Firestore undefined field errors in NoteWidget
  src/lib/components/NoteWidget.svelte
Due: frontend

feat: add bookmark button for quick position saving (NOTES-004)
  firestore.rules
  src/lib/components/BookmarkButton.svelte
  src/lib/components/index.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat: add notes panel sidebar for viewing all notes/bookmarks (NOTES-005)
  src/lib/components/NotesPanel.svelte
  src/lib/components/index.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

fix: remove duplicate titles and add Firestore indexes for notes/bookmarks
  firestore.indexes.json
  src/lib/components/NotesPanel.svelte
  src/lib/components/TableOfContents.svelte
Due: frontend

feat: add reading mode toggle with focus mode, font size, and theme options (VIEWER-002)
  src/lib/components/ReadingModeToggle.svelte
  src/lib/components/index.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat: add mobile-friendly notes interface with BottomSheet (MOBILE-002)
  package-lock.json
  package.json
  src/lib/auth.svelte.ts
  src/lib/components/AuthGuard.svelte
  src/lib/components/BottomSheet.svelte
  src/lib/components/CodeBlock.svelte
  src/lib/components/CodeBlock.svelte.spec.ts
  src/lib/components/LessonHeader.svelte
  src/lib/components/LessonNavigation.svelte
  src/lib/components/LessonNavigation.svelte.spec.ts
  src/lib/components/MarkdownRenderer.svelte
  src/lib/components/ReadingProgress.svelte
  src/lib/components/index.ts
  src/lib/services/readingPosition.spec.ts
  src/lib/services/readingPosition.ts
  src/lib/services/readingProgress.ts
  src/routes/+layout.svelte
  src/routes/admin/courses/new/+page.svelte
  src/routes/auth/login/+page.svelte
  src/routes/courses/[courseId]/+page.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
  vite.config.ts
Due: frontend, backend, core

feat: implement touch gestures for mobile lesson navigation (MOBILE-003)
  src/lib/services/touchGestures.ts
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

feat: implement content analytics for instructors (CMS-003)
  firestore.rules
  src/lib/services/analytics.ts
  src/lib/types/analytics.ts
  src/routes/admin/+page.svelte
  src/routes/admin/analytics/+page.svelte
Due: frontend, backend, core

fix: add Firestore indexes for analytics queries
  firestore.indexes.json
Due: none

fix: add missing courses index for analytics course loading
  firestore.indexes.json
Due: none

test: complete v1.2.0 test coverage (TEST-005, TEST-006, TEST-007)
  src/lib/services/markdown.spec.ts
  src/lib/services/notes.spec.ts
  src/lib/services/readingProgress.spec.ts
Due: none

docs: update README for v1.2.0 release
  README.md
Due: none

fix: resolve all svelte-check type errors and warnings
  src/lib/components/BookmarkButton.svelte
  src/lib/components/LessonNavigation.svelte.spec.ts
  src/lib/components/NotesPanel.svelte
  src/lib/components/ui/Button.svelte.spec.ts
  src/lib/services/notes.spec.ts
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
  src/routes/courses/+page.svelte
  src/routes/page.svelte.spec.ts
Due: frontend

fix: exclude Svelte component tests from unit test run
  vite.config.ts
Due: none

fix: comment out coverage thresholds in vitest configuration
  vitest.coverage.config.ts
Due: none

feat: implement v1.2.1 design system foundation
  src/app.css
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Card.svelte
  src/lib/components/ui/CardContent.svelte
  src/lib/components/ui/CardHeader.svelte
  src/lib/components/ui/Input.svelte
  src/lib/config/theme.ts
  src/routes/+layout.svelte
Due: frontend

feat: update lesson viewer with design system
  src/app.css
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend

feat: update lesson creator with design system
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
Due: frontend

feat: update course catalog with design system
  src/routes/courses/+page.svelte
Due: frontend

feat: update dashboard with design system
  src/routes/dashboard/+page.svelte
Due: frontend

feat: update landing page with design system
  src/routes/+page.svelte
Due: frontend

fix: add missing light mode base colors to all theme variants
  src/app.css
Due: none

fix: improve color contrast for WCAG AA compliance
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: frontend

fix: remove premature dark mode support to fix light mode rendering
  src/app.css
Due: none

fix: button link contrast - inherit text color instead of blue
  src/app.css
Due: none

Path conditions:
  frontend: any of: src/routes/, src/lib/components/, but not: src/**/*.spec.ts, src/**/*.svelte.spec.ts, src/**/*.test.ts, src/**/*.svelte.test.ts, scripts/, sample-templates/, static/, vite.config.ts, svelte.config.js, roadmap/, coverage/, node_modules/, .env.*, build/, dist/
  backend: any of: src/lib/services/, src/lib/firebase/, src/lib/utils/, but not: src/**/*.spec.ts, src/**/*.svelte.spec.ts, src/**/*.test.ts, src/**/*.svelte.test.ts, scripts/, sample-templates/, static/, vite.config.ts, svelte.config.js, roadmap/, coverage/, node_modules/, .env.*, build/, dist/
  core: any of: src/lib/services/, src/lib/firebase/, src/lib/validation/, but not: src/**/*.spec.ts, src/**/*.svelte.spec.ts, src/**/*.test.ts, src/**/*.svelte.test.ts, scripts/, sample-templates/, static/, vite.config.ts, svelte.config.js, roadmap/, coverage/, node_modules/, .env.*, build/, dist/
