Repository koosty/open-edu: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, core

codecov.yml:

# Codecov configuration for Open-EDU
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%  # Aim for 80% overall coverage
        threshold: 5% # Allow 5% drop
        if_ci_failed: error # Fail if CI fails
    patch:
      default:
        target: 70%  # New code should have 70% coverage
        threshold: 10% # Allow larger threshold for patches

comment:
  layout: "reach, diff, flags, tree"
  behavior: default
  require_changes: false
  require_base: false # Don't require base commit for first uploads

# Ignore files that shouldn't affect coverage
ignore:
  - "src/**/*.spec.ts"
  - "src/**/*.svelte.spec.ts"
  - "src/**/*.test.ts"
  - "src/**/*.svelte.test.ts" 
  - "scripts/"
  - "sample-templates/"
  - "static/"
  - "vite.config.ts"
  - "svelte.config.js"
  - "roadmap/"
  - "coverage/"
  - "node_modules/"
  - ".env.*"
  - "build/"
  - "dist/"

# Define flags for different areas of the codebase
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name: default
        type: project
        target: 80%
        threshold: 5%

flags:
  # Frontend code coverage
  frontend:
    paths:
      - src/routes/
      - src/lib/components/
    carryforward: true
    
  # Backend/Service code coverage  
  backend:
    paths:
      - src/lib/services/
      - src/lib/firebase/
      - src/lib/utils/
    carryforward: true
    
  # Core business logic
  core:
    paths:
      - src/lib/services/
      - src/lib/firebase/
      - src/lib/validation/
    carryforward: true

refactor: eliminate code duplication and migrate to Svelte 5 runes
  package-lock.json
  package.json
  src/lib/components/CourseImporter.svelte
  src/lib/firebase/validated-firestore.spec.ts
  src/lib/services/courses.spec.ts
  src/lib/services/courses.ts
  src/lib/services/progress.ts
  src/lib/services/quiz.spec.ts
  src/lib/services/quiz.ts
  src/lib/services/touchGestures.spec.ts
  src/lib/types/progress.ts
  src/lib/utils/certificate.spec.ts
  src/lib/utils/course-import.spec.ts
  src/lib/utils/course-import.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/admin/+page.svelte
  src/routes/admin/analytics/+page.svelte
  src/routes/admin/courses/[id]/+page.svelte
  src/routes/admin/courses/[id]/analytics/+page.svelte
  src/routes/admin/courses/[id]/lessons/[lessonId]/+page.svelte
  src/routes/admin/courses/[id]/quizzes/+page.svelte
  src/routes/admin/courses/[id]/quizzes/[quizId]/edit/+page.svelte
  src/routes/admin/courses/[id]/quizzes/[quizId]/preview/+page.svelte
  src/routes/admin/courses/[id]/quizzes/new/+page.svelte
  src/routes/admin/courses/new/+page.svelte
  src/routes/courses/+page.svelte
  src/routes/courses/[courseId]/+page.svelte
  src/routes/courses/[courseId]/learn/[lessonId]/+page.svelte
Due: frontend, backend, core

refactor(admin): migrate course list to shadcn Item and Badge components
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/badge/index.ts
  src/lib/components/ui/item/index.ts
  src/lib/components/ui/item/item-actions.svelte
  src/lib/components/ui/item/item-content.svelte
  src/lib/components/ui/item/item-description.svelte
  src/lib/components/ui/item/item-footer.svelte
  src/lib/components/ui/item/item-group.svelte
  src/lib/components/ui/item/item-header.svelte
  src/lib/components/ui/item/item-media.svelte
  src/lib/components/ui/item/item-separator.svelte
  src/lib/components/ui/item/item-title.svelte
  src/lib/components/ui/item/item.svelte
  src/routes/admin/+page.svelte
Due: frontend

style(admin): improve visual hierarchy of course action buttons
  src/routes/admin/+page.svelte
Due: frontend

fix(quiz): improve navigation button spacing in QuizViewer
  src/lib/components/QuizViewer.svelte
Due: frontend

fix(layout): hide footer on quiz preview pages
  src/routes/+layout.svelte
Due: frontend

fix(quiz): change navigation from sticky to flexbox layout
  src/lib/components/QuizViewer.svelte
Due: frontend

Revert "fix(quiz): change navigation from sticky to flexbox layout"
  src/lib/components/QuizViewer.svelte
Due: frontend

fix(quiz): increase bottom padding on sticky navigation footer
  src/lib/components/QuizViewer.svelte
Due: frontend

fix(quiz): add bottom padding to navigation buttons in QuizViewer
  src/lib/components/QuizViewer.svelte
Due: frontend

feat(footer): add version, build, and environment information
  src/lib/index.ts
  src/lib/version.ts
  src/routes/+layout.svelte
Due: frontend

docs(build): add build information environment variables
  .env.example
  .github/workflows/deploy.yml
Due: none

fix(version): replace package.json import with Vite define
  src/lib/version.ts
  vite.config.ts
Due: none

docs: document VITE_APP_VERSION auto-injection in .env.example
  .env.example
Due: none

Add version information display in footer
  src/routes/+layout.svelte
Due: frontend

Add i18n support with Paraglide for English and Indonesian
  messages/en.json
  messages/id.json
  project.inlang/cache/plugins/283bd0tvvivv7
  project.inlang/cache/plugins/2dcrqykg6pmc1
  project.inlang/cache/plugins/3fhvg7lmyjji3
  project.inlang/cache/plugins/3j6u37qs3lqz3
  project.inlang/cache/plugins/e0z9yry0syl3
  project.inlang/project_id
  project.inlang/settings.json
  src/hooks.server.ts
  src/hooks.ts
  src/lib/components/LanguageSwitcher.svelte
  src/lib/components/index.ts
  src/routes/auth/login/+page.svelte
Due: frontend

Add LanguageSwitcher to main layout header
  .gitignore
  package-lock.json
  package.json
  src/app.html
  src/routes/+layout.svelte
  src/routes/auth/login/+page.svelte
  src/routes/demo/+page.svelte
  src/routes/demo/paraglide/+page.svelte
  vite.config.ts
Due: frontend

Fix LanguageSwitcher to show current locale reactively
  src/lib/components/LanguageSwitcher.svelte
Due: frontend

Fix LanguageSwitcher to extract locale from URL reactively
  src/lib/components/LanguageSwitcher.svelte
Due: frontend

Add locale initialization and localization support in layout and page components
  src/lib/utils/navigation.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/courses/+page.svelte
  src/routes/dashboard/+page.svelte
Due: frontend, backend

Add project.inlang/cache to gitignore
  .gitignore
  project.inlang/cache/plugins/283bd0tvvivv7
  project.inlang/cache/plugins/2dcrqykg6pmc1
  project.inlang/cache/plugins/3fhvg7lmyjji3
  project.inlang/cache/plugins/3j6u37qs3lqz3
  project.inlang/cache/plugins/e0z9yry0syl3
Due: none

Fix CI: generate Paraglide files before type checking
  .github/workflows/ci.yml
Due: none
